[project]
	description = Gerrit test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Liaw Mike (liawmike)
[access "refs/for/refs/*"]
	read = group user/Liaw Mike (liawmike)
	push = group user/Liaw Mike (liawmike)
	label-Code-Review = -2..+2 group user/Liaw Mike (liawmike)
	label-Verified = -1..+1 group user/Liaw Mike (liawmike)
	rebase = group user/Liaw Mike (liawmike)
	removeReviewer = group user/Liaw Mike (liawmike)
	submit = group user/Liaw Mike (liawmike)
[access "refs/heads/*"]
	read = group user/Liaw Mike (liawmike)
	create = group user/Liaw Mike (liawmike)
	push = +force group user/Liaw Mike (liawmike)
	pushMerge = group user/Liaw Mike (liawmike)
[access "refs/tags/*"]
	push = +force group user/Liaw Mike (liawmike)
	pushTag = group user/Liaw Mike (liawmike)
	pushSignedTag = group user/Liaw Mike (liawmike)
